.services {
  @include list;

  row-gap: 20px;
  column-gap: 36px;
  justify-content: flex-start;

  @media screen and (min-width: $tablet) {
    width: 390px;
    justify-content: space-between;
    gap: 0;
  }

  @media screen and (min-width: $desktop) {
    width: 600px;
    align-self: flex-start;
    transform: translate(-1px, 1px);
  }
}

.services__link {
  text-decoration: none;
  color: $color-white;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    padding: 5px 10px;
    margin: -5px -11px;
    border: 1px solid $color-white;
  }

  &:active {
    color: $color-white;
  }

  &:disabled {
    opacity: 0.6;
  }
}
