.button {
  display: block;
  background-color: inherit;
  color: $color-white;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  border: 2px solid $color-white;
  margin: 0 auto;
  font-family: $roboto;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background-color: $color-white;
    color: $color-blue;
    border: none;
  }

  &:focus {
    border-color: $dark-black;
    color: $color-blue;
    background-color: $color-white;
    opacity: 0.8;
  }

  &:active {
    background-color: $color-white;
    color: $color-basic;
    border: none;
  }

  &:disabled {
    opacity: 0.5;
  }
}
