@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Alumni-Sans/AlumniSans-SemiBold.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Alumni-Sans/AlumniSans-ExtraBold.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src:
    url("../fonts/Roboto-Condensed/Robotocondensedlight.woff2") format(woff2),
    url("../fonts/Roboto-Condensed/Robotocondensedlight.woff") format(woff);
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/Roboto-Condensed/Robotocondensed.woff2") format(woff2),
    url("../fonts/Roboto-Condensed/Robotocondensed.woff") format(woff);
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/Roboto-Condensed/Robotocondensedbold.woff2") format(woff2),
    url("../fonts/Roboto-Condensed/Robotocondensedbold.woff") format(woff);
  font-display: swap;
}
