// text
$color-basic: #102654;
$color-white: #ffffff;
$color-blue: #103aae;
$privilege-text: #2e35ac;

// card
$color-blue-secondary: #1c3374;
$shadow: #e8e8e8;
$gradient-number: #0041ca;
$border-color: #00359f;
$crossfit: #b6bdcc;
$jury-back: rgba(16, 38, 84, 0.89);
$review-shadow: rgba(28, 51, 116, 0.2);

// buttons
$color-dark-red: #d10a42;
$color-baners: #ed0233;
$color-baners2: #003eb7;
$color-white-secondary: #f8f9fc;
$color-black: #030a1a;
$dark-black: #000000;
$radius: rgb(237, 2, 51, 0.2);
$numbers: rgba(120, 120, 120, 0.2);
$hover-button: #787878;
$gray-link: #74819c;
$faq-button: rgba(16, 38, 84, 0.2);
$button-gray: #c8c9cc;

// form
$color-error: #ff121f;

// line
$color-line: #74819c;
$privilege-line: rgba(209, 10, 66, 0.2);

// fonts
$alumni: "Alumni Sans", "Arial", sans-serif;
$roboto: "Roboto Condensed", "Arial", sans-serif;
